@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

body {
    margin: 0;
    background-color: black;
    color: #37C4F3;
}


.bg {
    background-image: url('background.jpg');
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: inline-block;
    font-size: 8vw;
    text-align: center;
    border-bottom: 4px solid #37C4F3;
        font-family: 'Source Code Pro', monospace;
        

}
.title {
    margin-top: 3vw;
    font-size: 4vw;
    text-align: center;
    
}

.text {
    display: inline-block;
    text-align: center;
    font-size: 2vw;
    width: 40vw;
    margin: 1vw;
}
li {
    margin-bottom: 1vw;
}
.seperator {
    display: inline-block;
    width: 50vw;
    height: 2px;
    background-color: #37C4F3;
    margin: 1vw 0;
}

.code {
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(105, 105, 105, 0.253);
    text-align: left;
    font-size: 1.5vw;
    width: 40vw;
    
}

.option-bar {
    text-align: center;
    width: 12vw;
    height: 100%;
    position: fixed;
    right: 0;
    top:0;
    background-color: rgba(211, 211, 211, 0.138);
}
input{
    width: 11vw;
    margin: 0 0 0 0;
    padding: 0.5vw;
    font-size: 1vw;
    background-color: rgba(139, 137, 137, 0.46);
    color: #37C4F3;
}

button {
    cursor: pointer;
    padding: 0.5vw;
    font-size: 1vw;
    border: 0px solid transparent;
    border-radius: 3%;
    margin-bottom: 1.5vw;
    width: 11vw;
    background-color: rgba(78, 77, 77, 0.46);
    color: #37C4F3;

}

button:hover {
    background-color: rgba(151, 151, 151, 0.46);
}

input.num {
    width: 2vw;
    font-size: 1vw;
    margin: 0 0.5vw;
    

}
span {
    font-size: 1.3vw;
    color: black;
    font-family: 'Source Code Pro', monospace;
    color: #37C4F3;

}

.download {
    display: inline-block;
    background-color: rgba(151, 151, 151, 0.46);
    color: #37C4F3;
    width: 30vw;
    height: 3vw;
    font-size: 2vw;
    margin: 0 2vw;
    text-align: center;
    font-family: 'Source Code Pro', monospace;

}

.download:hover {
    background-color: rgba(214, 214, 214, 0.46);
}

.code-font {
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(105, 105, 105, 0.253);
}